/* Blog.css */

.blog-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

.blog-title {
    text-align: center;
    font-size: 2.5em;
    color: #333;
    margin-bottom: 1%;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

/* Animación de carga para cada post */
.post {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Inicialmente oculto */
    animation: fadeInUp 1s forwards; /* Animación fadeInUp */
}

/* Retraso en la animación para los posts */
.post:nth-child(1) {
    animation-delay: 0.2s;
}

.post:nth-child(2) {
    animation-delay: 0.4s;
}

.post:nth-child(3) {
    animation-delay: 0.6s;
}

.post-title {
    font-size: 1.8em;
    color: #333;
    margin: 15px 0;
}

.post-text {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
}

/* Animación de desvanecimiento hacia arriba */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo para la imagen con id 'logo' */
#logo {
    width: 30%; /* Ancho al 10% del contenedor */
    height: auto; /* El alto se ajusta proporcionalmente */
    display: block;
    margin: 0 auto; /* Centra la imagen */
}
<<<<<<< HEAD
 
=======
>>>>>>> 3745bec83864e39536b592f5c11c42493120c298
