<<<<<<< HEAD
/* Menu.css */
.menu {
    background-color: #333;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    position: fixed;  /* Fija el menú en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .menu-item {
    margin: 0 15px;
    color: white;
  }
  
  .menu-item a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.2s ease;
  }
  
  .menu-item a:hover {
    color: #1e90ff;
    transform: scale(1.1);
  }
  
  .login {
    position: fixed;
    right: 0;
    margin-right: 10px;
  }
  
  .menu {
    transition: background-color 0.3s ease;
  }
  
  .menu:hover {
    background-color: #444;
  }
  
  /* Submenú */
  .submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #444;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: none;
  }
  
  .submenu li {
    padding: 10px;
  }
  
  .submenu li a {
    color: white;
    text-decoration: none;
  }
  
  .submenu li a:hover {
    color: #1e90ff;
  }
  
  /* Mostrar submenú cuando se abre */
  .menu-item .submenu {
    display: block;
  }
  
  .menu-item {
    position: relative;
  }
   
=======
.mision-container {
    padding: 20px;
    font-family: Arial, sans-serif; /* Asegúrate de tener una fuente coherente */
  }
  
  .mision-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .mision-header #logo {
    max-width: 100px;  /* Ajusta el tamaño del logo si es necesario */
    margin-right: 20px;
  }
  
  .mision-header h1 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
  }
  
  .mision-content {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
  }
  
  .mision-content ol {
    margin-left: 20px;
  }
  
  .mision-content ol li {
    margin-bottom: 15px;
  }
  
  .mision-content p {
    margin-bottom: 20px;
  }
  
  .mision-content strong {
    font-weight: bold;
  }
  
  
>>>>>>> 3745bec83864e39536b592f5c11c42493120c298
