.mision-container {
    padding: 20px;
    font-family: Arial, sans-serif; /* Asegúrate de tener una fuente coherente */
  }
  
  .mision-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .mision-header #logo {
    max-width: 100px;  /* Ajusta el tamaño del logo si es necesario */
    margin-right: 20px;
  }
  
  .mision-header h1 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
  }
  
  .mision-content {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
  }
  
  .mision-content ol {
    margin-left: 20px;
  }
  
  .mision-content ol li {
    margin-bottom: 15px;
  }
  
  .mision-content p {
    margin-bottom: 20px;
  }
  
  .mision-content strong {
    font-weight: bold;
  }
  
  